<html>
  <head>
    <style type="text/css">
      body {
        background: white;
        color: black;
      }
      div.container {
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>New Cat of the day</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="https://cataas.com/">Cat as a service.</a></small></p>
    </div>
  </body>
</html>
